*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: #ededed;
    background-color: #081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: fixed;
    top: 2%;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}    
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s ease;
}
.navbar a:hover{
    color: #00abf0;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;

}
.img{
    position: absolute;
    top: 12%;
    right: 30px;
    width: 350px;
    height: 250px;
    background: white;
}
.home-content{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    max-width: 600px;

}
.home-content h1{
    /* position: absolute;
    top: 25%; */
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    /* position: absolute;
    top: 32%; */
    font-size: 25px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    /* position: absolute;
    top: 35%; */
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    /* position: absolute;
    top: 60%; */
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center ;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
@keyframes showRight{
    100%{
        width: 0;
    }
}
@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}
@media (max-width: 416px){
    .navbar{
        display: none;
    }
    .navbar a{
        display: none;
    }
}
